.bubble {
    margin:0px auto;
    width:100%;
    padding: 0 20px;
    margin-top: 70px;
background: white;
}
.demo {
    margin-bottom:20px;
    padding-left:50px;
    position:relative;
}

.triangle {
    position:absolute;
    top:50%;
    margin-top:-8px;
    left:42px;
    display:block;
    width:0;
    height:0;
    overflow:hidden;
    line-height:0;
    font-size:0;
    border-bottom:8px solid #FFF;
    border-top:8px solid #FFF;
    border-left:none;
    border-right:8px solid #3079ED;
}

.demo .article {
    float:left;
    color:#FFF;
    display:inline-block;
    *display:inline; zoom:1;
    padding:5px 10px;
    border:1px solid #3079ED;
    background:#eee;
    border-radius:5px;
    background-color: #4D90FE;
    background-image:-webkit-gradient(linear,left top,left bottom,from(#4D90FE),to(#4787ED));
    background-image:-webkit-linear-gradient(top,#4D90FE,#4787ED);
    background-image:-moz-linear-gradient(center top , #4D90FE, #4787ED);
    background-image:linear-gradient(top,#4D90FE,#4787ED);
}

.fr { padding-left:0px; padding-right:50px; }

.fr .triangle {
    left:auto;
    right:42px;
    border-bottom:8px solid #FFF;
    border-top:8px solid #FFF;
    border-right:none;
    border-left:8px solid #3079ED;
}

.fr .article {
    float:right;
}
.chatHead{
    position: fixed;
    top:0;
    left: 0;
    z-index: 99;
    width: 100%;
    height: 50px;
    background: #252931;
    font-size: 16px;
    line-height: 30px;
    color: white;
    padding: 10px 20px;
}
.chatHeadL{
    float: left;
}
.chatHeadR{
    float: right;
    font-size: 30px;
    color: white!important;
}
.chatFoot{
    border-top: 1px solid #5576e2;
    position: fixed;
    bottom: 0px;;
    left: 0;
    z-index: 99;
    width: 100%;
    height: 50px;
    background: #efefef;
    font-size: 16px;
    line-height: 30px;
    color: black;
    padding: 10px 0px;
}
.chatFootI{
    padding-right:0!important ;
    float: left;

}
.chatFootI>input{
    width: 100%!important;
    float: left!important;
    display: block!important;
    margin: 0 auto!important;
    border: 0;
    background: #efefef;
    border-bottom: 1px solid #5576e2;
}
.ff{
    float: left!important;
    width: 10%;
    text-align: center;
}
.ii{
    margin-left: 10px!important;
    width: 66%;
}

/*input  ש½*/
.input {
    position: relative;
    z-index: 1;
    vertical-align: top;
}

.input__field {
    display: block;
    float: right;
    border: none;
    border-radius: 0;
    background: #f0f0f0;
    color: #aaa;
    font-weight: bold;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    -webkit-appearance: none; /* for box shadows to show on iOS */
}

.input__field:focus {
    outline: none;
}

.input__label {
    display: inline-block;
    float: right;
    padding: 0 1em;
    width: 40%;
    color: #6a7989;
    font-weight: bold;
    font-size: 70.25%;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.input__label-content {
    position: relative;
    display: block;
    padding: 1.6em 0;
    width: 100%;
}

.graphic {
    position: absolute;
    top: 0;
    left: 0;
    fill: none;
}

.icon {
    color: #ddd;
    font-size: 150%;
}

/* Individual styles */




/* Minoru */
.input__field--minoru {
    width: 100%;
    background: #fff;
    box-shadow: 0px 0px 0px 2px transparent;
    color: #333;
    -webkit-transition: box-shadow 0.3s;
    transition: box-shadow 0.3s;
}

.input__label--minoru {
    padding: 0;
    width: 100%;
    text-align: left;
}

/*.input__label--minoru::after {
    content: '';
    position: absolute;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 4em;
    box-shadow: 0px 0px 0px 0px;
    color: rgba(199,152,157, 0.6);
}*/

.input__field--minoru:focus {
    border: 0!important;
    border-bottom: 1px!important;
    box-shadow: 0px 0px 0px 1px #5576e2;
}
/*

.input__field--minoru:focus + .input__label--minoru {
    pointer-events: none;
}

.input__field--minoru:focus + .input__label--minoru::after {
    -webkit-animation: anim-shadow 0.3s forwards;
    animation: anim-shadow 0.3s forwards;
}

@-webkit-keyframes anim-shadow {
    to {
        box-shadow: 0px 0px 100px 50px;
        opacity: 0;
    }
}

@keyframes anim-shadow {
    to {
        box-shadow: 0px 0px 100px 50px;
        opacity: 0;
    }
}

.input__label-content--minoru {
    padding: 0.75em 0.15em;
}

*/


