/* Default custom select styles */
div.cs-select {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    text-align: left;
    background: #fff;
    z-index: 100;
    width: 100%;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    float: left;
}

div.cs-select:focus {
    outline: none; /* For better accessibility add a style for this in your skin */
}

.cs-select select {
    display: none;
}

.cs-select span {
    display: block;
    position: relative;
    cursor: pointer;
    padding: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Placeholder and selected option */
.cs-select > span {
    padding-right: 3em;
}

.cs-select > span::after,
.cs-select .cs-selected span::after {
    speak: none;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    z-index: 55!important;
}

/*.cs-select > span::after {
    content: '\25BE';

}*/
.cs-select>span::after {
    font-family: 'iconfont';
    content: '\e616';
    right: 1em;
}

.cs-select .cs-selected span::after {
    content: '\2713';
    margin-left: 1em;
}

.cs-select.cs-active > span::after {
    -webkit-transform: translateY(-50%) rotate(180deg);
    transform: translateY(-50%) rotate(180deg);
}

/* Options */
.cs-select .cs-options {
    position: absolute;
    overflow: hidden;
    width: 100%;
    background: #fff;
    visibility: hidden;

}

.cs-select.cs-active .cs-options {
    visibility: visible;
}
.cs500>.cs-options>ul{
    visibility: visible;
    overflow-y: scroll!important;
    z-index: 1;
}
.cs500>.cs-options>ul{
    height:300px!important;
}
.cs-select ul {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

.cs-select ul span {
    padding: 1em;
}

.cs-select ul li.cs-focus span {
    background-color: #ddd;
}

/* Optgroup and optgroup label */
.cs-select li.cs-optgroup ul {
    padding-left: 1em;
}

.cs-select li.cs-optgroup > span {
    cursor: default;
}
/**********************************/

a {
    text-decoration: none;
    outline: none;
}

a:hover, a:focus {
    color: #125480;
    outline: none;
}


label.select-label {
    display: block;
    text-transform: uppercase;
    padding: 1em 0 1.5em;
    font-size: 75%;
    letter-spacing: 1px;
    font-weight: 700;
    width: 300px;
    text-align: left;
    margin: 0 auto;
    color: #c0c6c4;
}

.color-4 label.select-label {
    color: #282b30;
    font-size: 1em;
}

/* Header */
.codrops-header {
    margin: 0 auto;
    padding: 2em;
    text-align: center;
}

.codrops-header h1 span {
    display: block;
    font-size: 30%;
    text-transform: uppercase;
    letter-spacing: 2px;
    opacity: 0.8;
}

.codrops-header h1 {
    margin: 0;
    font-weight: 700;
    font-size: 3.5em;
    line-height: 1.3;
}

/* To Navigation Style */
.codrops-top {
    width: 100%;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 0.69em;
    line-height: 2.2;
}

.codrops-top a {
    display: inline-block;
    padding: 0 1em;
    text-decoration: none;
    letter-spacing: 1px;
}

.codrops-top span.right {
    float: right;
}

.codrops-top span.right a {
    display: block;
    float: left;
}

.codrops-icon:before {
    margin: 0 4px;
    text-transform: none;
    font-weight: normal;
    font-style: normal;
    font-variant: normal;
    font-family: 'codropsicons';
    line-height: 1;
    speak: none;
    -webkit-font-smoothing: antialiased;
}

.codrops-icon-drop:before {
    content: "\e001";
}

.codrops-icon-prev:before {
    content: "\e004";
}

/* Demo Buttons Style */
.codrops-demos {
    padding-top: 1em;
    font-size: 0.9em;
}

.codrops-demos a {
    display: inline-block;
    margin: 0.5em;
    padding: 0.7em 1.1em;
    outline: none;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
}

.codrops-demos a.current-demo {
    color: inherit;
}

/* Related demos */
.related {
    padding-top: 20em;
}

.related p {
    font-size: 1.6em;
}

.related > a {
    border: 3px solid;
    border-color: initial;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    margin: 20px 10px;
    padding: 25px;
}

.related a img {
    max-width: 100%;
    opacity: 0.8;
}

.related a:hover img,
.related a:active img {
    opacity: 1;
}

.related a h3 {
    margin: 0;
    padding: 0.5em 0 0.3em;
    max-width: 300px;
    text-align: left;
}
@media screen and (max-width: 30em) {

    body::before,
    body::after {
        display: none !important;
    }

    body {
        border: none !important;
        padding: 0 !important;
    }

    .codrops-header h1 {
        font-size: 2em;
    }

    .codrops-icon span {
        display: none;
    }

}


@media screen and (max-width: 30em) {
    div.cs-skin-border { font-size: 1em; }
}

.cs-skin-border > span {
    border: 1px solid #c9c9c9;
    background: black;
    color: white;
    -webkit-transition: background 0.2s, border-color 0.2s;
    transition: background 0.2s, border-color 0.2s;
}


.cs-skin-border .cs-selected span::after {
    font-family: 'iconfont';
    content: '\e622';
    color:#3276b1;
}

.cs-skin-border > span::after, {
    font-family: 'iconfont';
    content: '\e622';
}

.cs-skin-border .cs-selected ul span::after {
    content: '';
    opacity: 0;
}

.cs-skin-border .cs-selected span::after {
    font-size: 1.5em;
    opacity: 1;
    -webkit-transition: opacity 0.2s;
    transition: opacity 0.2s;
    float: left;
    position: absolute;
    right: 10px;
    bottom: 0px;
}

.cs-skin-border .cs-selected span {
    position: relative;
}


.cs-skin-border.cs-active > span {
    background: #2980B9;
    color: #fff;
}

.cs-skin-border .cs-options {
    color: #2980b9;
    display: none;
    -webkit-transition: display 0.2s, visibility 0s 0.2s;
    transition: display 0.2s, visibility 0s 0.2s;
}

.cs-skin-border.cs-active .cs-options {
    display: block;
    -webkit-transition: display 0.2s;
    transition: display 0.2s;
}

.cs-skin-border ul span {
    padding: 10px;
    border-bottom: 1px solid #c9c9c9;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.cs-skin-border .cs-options li span:hover,
.cs-skin-border li.cs-focus span {
    background: #f5f3ec;
}
/**************************************************/