
.mr-0{
    margin-right: 0 !important;
}
body{
    font-family: 'microsoft yahei';
}
.bg{
    background: #E5E5E5;}
/*---------------------------------------------------------*/

/*header*/
header{
    text-align: center;
    line-height: 0.88rem;
    color:#fff;
    font-size: 0.32rem;
    background: #0C2F8C;
}
.search{
    width:5.06rem;
    height: 0.45rem;
    margin:0 auto;
    margin-top: 0.2rem;
    border:1px solid #DFDFDF;
    border-radius: 0.1rem;
    background: url("../images/s.png") no-repeat 0.18rem center #fff;
    background-size: 0.24rem;
    padding-left: 0.5rem;
}
.search>input{
    width:5rem;
    height:0.45rem;
    line-height: 0.45rem;
    color:#a4a3a3;
    font-size: 0.24rem;
    float: left;
}

.list{
    width:6.1rem;
    border-top: 1px solid #C5C5C5;
    margin-top: 0.2rem;
    padding-top: 0.2rem;
    margin-left: 0.3rem;
}
.list li{
    width:2.8rem;
    height: auto;
    zoom: 1;
    overflow: hidden;
    background: #D5D5D5;
    padding: 0.04rem;
    border-radius: 0.08rem;
    float: left;
    margin-bottom: 0.1rem;
}


.box{
    width:100%;
    padding-bottom: 0;
    background: #fff;
}
.box .img{
    width:2.54rem;
}
.box .img img{
    width:2.54rem;
    height: 100%;
    float: left;
    margin-bottom: 0;
}
.box .img i{
    width:0.54rem;
    height:0.46rem;
    background: url('../images/i.png') no-repeat center;
    background-size: 0.54rem;
    text-align: center;
    line-height: 0.46rem;
    color:#fff;
    font-size: 0.26rem;
    font-weight: 700;
    position: absolute;
    top:0.08rem;
    left:0.16rem;
    z-index: 2;
}
.box .img .bottom{
    width:2.4rem;
    padding-right: 0.14rem;
    line-height: 0.3rem;
    height:0.3rem;
    position: absolute;
    bottom:0;
    left:0;
    background: rgba(0, 0, 0, 0.4);
    text-align: right;
    color:#fff;
    font-size: 0.16rem;
}
.box .box-bottom{
    width:2.54rem;
    height:0.36rem;
    padding-bottom: 0.14rem;
    padding-top: 0.2rem;
    font-size: 0.24rem;
}
.box .box-bottom a{
    width:0.71rem;
    height:0.36rem;
    background: #1375DF;
    text-align: center;
    line-height: 0.36rem;
    color:#fff;
    font-size: 0.18rem;
    display: inline-block;
    float: right;
}
.box .box-bottom .num{
    padding-left: 0.06rem;
    line-height: 0.36rem;
    color:#fe9b0e;
    font-size: 0.18rem;
    font-weight: 700;
}


/*.box1{*/
    /*height:3.72rem;*/
/*}*/
/*.box1 .img{*/
    /*height:2.93rem;*/
/*}*/
/*.box1 .img img{*/
    /*height:2.93rem;*/
/*}*/







.wall-column {
  display: block;
  position: relative;
  width: 50%;
  float: left;
  padding: 0 2%;
  box-sizing: border-box;
}
.article {
  display: block;
  margin: 0 0 8% 0;
  padding: 5%;
  background: white;
  border-radius: 3px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
  transition: all 100;
  overflow: hidden;
  position: relative;
}
.article:hover{ transform: scale(1.01);}
.article img {
  display: block;
  width: 100%;
  margin: 0 0 5% 0;
}




