<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="DB" connectionString="data source=218.60.56.39,5858;user id = sa; password =caonimafuck!@#$% ;database = WeixinWeb;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="AppID" value="wxa3696600232dd38d"/>
    <add key="AppSecret" value="1fe162571646b4ab72d09761e5bdb778"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
